---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";

// components
import WhyUsSection from "../components/WhyUs/WhyUsSection.vue";
import MainBanner from "../components/Banner/MainBanner.astro";
import TopicAboutUs from "../components/AboutUs/TopicAboutUs.astro";
import FacilitiesSection from "../components/Facilities/FacilitiesSection.vue";
import Image from "astro/components/Image.astro";
import missionImg from "../../public/image/course_img/logo-ts-program-detail.png";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);

const aboutSlug = `/aboutus`;
const staffSlug = `/staff2`;
---

<Layout
  title={`${t("aboutUs.title")} | ${t("name")} ${t("university")}`}
  description={`${t("aboutUs.description")}`}
  lang={lang}
  isMenu={true}
>
  <MainBanner title={t("aboutUs.title")} description={t("name")} />

  <div class="pt-20 w-full" id="history">
    <div class="container mx-auto">
      <TopicAboutUs
        title={"ประวัติความเป็นมา"}
        desc={"มาร่วมเป็นส่วนหนึ่งกับพวกเรา ที่มหาวิทยาลัยชั้นนำด้านการค้าและการบริการ"}
      >
        <a href={aboutSlug}>
          <button
            class="btn btn-sm btn-outline btn-info rounded-full font-normal uppercase hover:text-white text-30 btn-active"
          >
            ประวัติความเป็นมา</button
          >
        </a>
        <a href={staffSlug}>
          <button
            class="btn btn-sm btn-outline btn-info rounded-full font-normal uppercase hover:text-white text-30"
          >
            บุคลากร</button
          >
        </a>
      </TopicAboutUs>
      <div class="content grid gap-8 items-center">
        <div>
          <div class="text-24 pt-8 pb-4 leading-tight">
            คณะการท่องเที่ยวและอุตสาหกรรมบริการ มหาวิทยาลัยหอการค้าไทย
            เกิดจากการหลอมรวมหลักสูตรต่างๆ
            ด้านการท่องเที่ยวและการบริการที่สังกัดในคณะบริหารธุรกิจ
            (หลักสูตรบริหารธุรกิจบัณฑิต สาขาวิชาการจัดการการท่องเที่ยว
            หลักสูตรบริหารธุรกิจบัณฑิต สาขาวิชาการจัดการการโรงแรม)
            และคณะมนุษยศาสตร์ (หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาการท่องเที่ยว
            หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาการจัดการธุรกิจสายการบิน
            และหลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาการจัดการประชุม นิทรรศการ
            และกิจกรรมพิเศษ)
            โดยได้รับการจัดตั้งเป็นคณะวิชาจากสภามหาวิทยาลัยหอการค้าไทย
            เมื่อวันที่ 19 มีนาคม พ.ศ. 2560 ปัจจุบันจัดการเรียนการสอน 5
            หลักสูตรระดับปริญญาตรี และ 1 หลักสูตร ระดับปริญญาโท
          </div>
        </div>
        <div>&nbsp;</div>
      </div>
      <div id="vision" class="grid grid-cols-2 gap-4 items-center pt-20 pb-4">
        <div
          class="item h-[450px] bg-cover bg-center rounded-2xl w-full"
          style="background-image: url(../../../../../public/image/aboutus-01.jpeg)"
        >
          &nbsp;
        </div>
        <div class="item text-center">
          <h1 class="text-54 font-bold uppercase leading-none">วิสัยทัศน์</h1>
          <div class="desc text-24 px-20 text-a-gray-696F6F">
            มุ่งสู่การเป็นคณะชั้นนำในการจัดการศึกษาด้านการท่องเที่ยวและอุตสาหกรรมบริการ
          </div>
        </div>
      </div>
      <div id="philosophy" class="grid grid-cols-2 gap-4 items-center pb-20">
        <div class="item text-center">
          <h1 class="text-54 font-bold uppercase leading-none">
            ปรัชญา/ปณิธาน
          </h1>
          <div class="desc text-24 px-20 text-a-gray-696F6F">
            จัดการศึกษาด้านการท่องเที่ยวและอุตสาหกรรมบริการที่มีคุณภาพ
            เพื่อสร้างรากฐานการพัฒนาเศรษฐกิจและสังคมของประเทศ
          </div>
        </div>
        <div
          class="item h-[450px] bg-cover bg-center rounded-2xl"
          style="background-image: url(../../../../../public/image/aboutus-02.jpeg)"
        >
          &nbsp;
        </div>
      </div>
    </div>
    <div id="mission" class="py-20 px-10">
      <div
        id="mission-info"
        class="grid grid-cols-2 gap-4 items-center container mx-auto"
      >
        <div class="item flex justify-center items-center is-desktop">
          <Image src={missionImg}  alt="UTCC Mission" class="drop-shadow-lg" />
        </div>
        <div class="desc item pl-4">
          <h4 class="text-54 font-bold uppercase pl-4">พันธกิจ</h4>
          <ol class="decimal text-30 md:text-24 pl-8">
            <li>
              ผลิตบัณฑิตที่มีความสามารถในการปฏิบัติงานด้านการท่องเที่ยวและอุตสาหกรรมบริการ
              มีคุณลักษณะสอดคล้องกับความต้องการของตลาดแรงงานสากล
            </li>
            <li>
              ผลิตผลงานวิจัยและนวัตกรรมที่มีความสำคัญต่อการพัฒนาการท่องเที่ยวและอุตสาหกรรมบริการ
            </li>
            <li>
              บริการวิชาการด้านอุตสาหกรรมการท่องเที่ยวและการบริการแก่สังคม
            </li>
            <li>
              สร้างและพัฒนาความร่วมมือกับภาคีเครือข่ายการท่องเที่ยวและอุตสาหกรรมบริการ
            </li>
            <li>
              ทำนุบำรุงศิลปวัฒนธรรม อนุรักษ์ความเป็นเอกลักษณ์ของชาติ
              และส่งเสริมความเป็นนานาชาติ
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <WhyUsSection client:load />
  <FacilitiesSection slug={""} title={""} lang={lang} client:load />
</Layout>
<style scoped>
  @import "../styles/global.css";
  .menu li a {
    color: var(--primary);
    padding: 4px 12px;
    align-items: center;
    border-radius: 22px;
    /* border: 1px solid var(--blue-light3); */
    margin: 0 0.25rem;
  }
  /* .menu li a:hover {
   background-color: var(--blue-light3);
  } */
  .slides {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .slides::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .tab {
    color: var(--accent-dark);
    font-size: 2.25rem;
  }
  .tabs-lifted > .tab {
    min-width: 240px;
    height: 80px;
  }
  .tabs-lifted > .tab:is(input:checked) {
    background-color: var(--accent-dark);
    border-bottom-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
  }
  .tab-content {
    border-color: transparent;
    border-width: 0;
  }
  .tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]),
  .tabs-lifted > .tab:is(input:checked) {
    border-width: 0;
  }
  #mission {
    background-color: var(--accent-light);
  }
  ol.decimal {
    list-style: decimal;
  }
  .btn:hover,
  .btn-active {
    color: #ffffff !important;
  }
  @media only screen and (max-width: 767px) {
    .is-desktop {
      display: none;
    }
    button {
      font-size: 20px;
    }
    .btn {
      height: 2rem;
    }
    .content {
      padding: 0 1rem;
      text-indent: 2rem;
      font-size: 20px;
      color: #696f6f;
      /* text-align: justify; */
    }
    .item {
      padding: 2rem 0;
    }
    #vision,
    #philosophy,
    #mission-info {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      margin: 2rem 0;
    }
    #vision div.item:nth-child(1) {
      width: 100%;
      height: 403px;
    }
    #vision .desc,
    #philosophy .desc {
      padding: 0 1rem;
    }
    #philosophy div.item:nth-child(2) {
      order: 1;
      width: 100%;
      height: 403px;
    }
    #philosophy div.item:nth-child(1) {
      order: 2;
    }
    #mission {
      padding: 2.5rem 0;
    }
    #mission h1 {
      font-size: 42px;
    }
    ol.decimal {
      margin-top: 1rem;
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .is-desktop {
      display: none;
    }
    button {
      font-size: 20px;
    }
    .btn {
      height: 2rem;
    }
    .content {
      padding: 0 1rem;
      text-indent: 2rem;
      font-size: 20px;
      color: #696f6f;
      /* text-align: justify; */
    }
    .item {
      padding: 2rem 0;
    }
    #vision,
    #philosophy,
    #mission-info {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      margin: 2rem 0;
    }
    #vision div.item:nth-child(1) {
      width: 100%;
      height: 403px;
    }
    #vision .desc,
    #philosophy .desc {
      padding: 0 1rem;
    }
    #philosophy div.item:nth-child(2) {
      order: 1;
      width: 100%;
      height: 403px;
    }
    #philosophy div.item:nth-child(1) {
      order: 2;
    }
    #mission {
      padding: 2.5rem 0;
    }
    #mission h1 {
      font-size: 42px;
    }
    ol.decimal {
      margin-top: 1rem;
      font-size: 20px;
    }
  }
</style>
