---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import moment from "moment";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import MainBanner from "../components/Banner/MainBanner.astro";

// const reqUrl = `https://tourism.utcc.ac.th/wp-json/wp/v2/posts?_embed`;
const reqUrl = `https://demo2.utcc.ac.th/wp-json/wp/v2/news?per_page=15&_embed&acf_format=standard`;
const response = await fetch(reqUrl, { mode: "cors" });
const articles = await response.json();

const homeSlug = `/`;
---

<Layout
  title={`${t("news.title")} | ${t("name")} ${t("university")}`}
  description={`${t("news.description")}`}
  lang={lang}
  isMenu={true}
>
  <MainBanner title={t("news.title")} description={t("name")} />
  <div class="bg-a-yellow-FFF4DF">
    <div class="px-4 sm:px-16">
      <div class="container mx-auto">
        <div class="text-sm breadcrumbs line-clamp-1 pt-10">
          <ul class="text-36">
            <li><a href={homeSlug}>หน้าหลัก</a></li>
            <li>{t("news.title")}</li>
            <li></li>
          </ul>
        </div>
        <div class="news py-16">
          <div
            class="grid grid-cols-1 tablet:grid-cols-3 desktop:grid-cols-4 gap-4 desktop:gap-8"
          >
            {
              articles.map((post) => (
                <a
                  href={`/articles/${post.slug}/`}
                  class="card w-full bg-base-100 shadow-md hover:shadow-lg transition-all"
                >
                  <div class="card-top">
                    <img src={post.acf.cover_image} alt={post.title.rendered} />
                  </div>
                  <div class="card-body p-4 desktop:p-8">
                    <h3 class="card-title text-24 tablet:text-30 desktop:text-36 text-2-line">
                      {post.title.rendered}
                    </h3>
                    <div
                      class="card-content text-20 desktop:text-24 text-1-line desktop:text-2-line"
                      set:html={post.excerpt.rendered}
                    ></div>
                    <div class="card-actions justify-between text-sm">
                      <span class="text-light">
                        By {post._embedded["author"]["0"].name}
                      </span>
                      <span class="text-light">
                        {moment(post.date).format("DD/MM/YYYY")}
                      </span>
                    </div>
                  </div>
                </a>
              ))
            }
          </div>
          <!-- <div class="text-center pt-16">
            <a href="blogs">
              <button
                class="btn btn-active btn-primary rounded-full font-medium uppercase text-24 hover:underline cursor-pointer"
                lang={lang}
                >{t("button.showMore")}
                <Icon name="arrow-left" />
              </button>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</Layout>
<style scoped>
  @import "../styles/global.css";

  .news .card {
    color: var(--black);
    overflow: hidden;
  }

  .news .card .card-top {
    position: relative;
    overflow: hidden;
  }
  .news .card .card-top img {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }

  .news .card .card-top:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg, #0b0b0b 0%, rgba(11, 11, 11, 0) 92.86%);
    opacity: 1;
    transition: ease-in-out 0.3s;
  }

  .news .card:hover .card-top:before {
    opacity: 0;
  }

  .news .card .card-title {
    line-height: 2.5rem;
  }

  .news .card:hover .card-title {
    color: var(--blue-light2);
  }

  .news .card-content p {
    line-height: 1.2;
    margin-bottom: 0 !important;
  }

  .load-button {
    padding: 0.5rem 3rem;
  }

  @media (max-width: 1023px) {
    .news .card .card-top img {
      height: 250px;
    }
  }
</style>
