---
import {
	LANGUAGES,
	pathNameIsInLanguage,
	DEFAULT_LANG,
	getLocalizedPathname,
	type UiType,
} from "../i18n/utils";
import "../styles/global.css";
interface Props {
	title: string;
	description: string;
	image?: string;
	lang: string;
	keywords: string
}

const canonicalPathname = pathNameIsInLanguage(Astro.url.pathname, DEFAULT_LANG)
	? Astro.url.pathname
	: getLocalizedPathname(Astro.url.pathname, DEFAULT_LANG);
const canonicalURL = new URL(canonicalPathname, Astro.site);

const {
	lang,
	title,
	description,
	image = "/blog-placeholder-1.jpg",
	keywords
} = Astro.props;

const alternateLang = Object.keys(LANGUAGES);
const alternateLinks = alternateLang.map((_lang: UiType) => {
	return {
		href: new URL(getLocalizedPathname(Astro.url.pathname, _lang), Astro.site),
		hreflang: _lang,
	};
});
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/icon/utcc-bandmark.svg" />
<!-- <meta http-equiv="refresh" content="0;url=/en/" /> -->
<meta name="generator" content={Astro.generator} />


<link rel="sitemap" href="/sitemap-index.xml" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- Font preloads -->
<link
	rel="preload"
	href="/fonts/DB Heavent v3.2.1.woff2"
	as="font"
	type="font/woff"
	crossorigin
/>


<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Alternate URLs -->
{
	alternateLinks.map(({ href, hreflang }) => (
		<link rel="alternate" href={href} hreflang={hreflang} />
	))
}

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content="University of the Thai Chamber of Commerce">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

