---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, lang } =
  Astro.props;
---

<Layout
  title={title}
  description={description}
  heroImage={heroImage}
  pubDate={pubDate}
  updatedDate={updatedDate}
  lang={lang}
>
<style scoped>
   .hero-image {
    background-color:  red;
   }
</style>
<article>
  <div class="hero-image">
    {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
  </div>
</article>
</Layout>
